.search {
    &-container {
      width: 100%;
      height: 80px;
      background-color:beige;
      display: flex;
      align-items: center;
    }
  
    &-form {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  
    &-input {
      margin-left: 10px;
      padding: 10px;
      width: 700px;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      outline: none;
      border: none;
      background-color: rgba(222, 184, 135, 0.667);
    }
  
    &-button {
      border: none;
      outline: none;
      background: rgb(181, 151, 111);
      padding: 10px;
      border-left: 1px solid rgba(0, 0, 0, 0.3);
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      color: #fff;
      font-weight: 700;
      transition-duration: 0.3s;
      cursor: pointer;
  
      &:hover {
        color: rgb(181, 151, 111);
        background-color: #fff;
        border: 1px solid rgb(181, 151, 111);
      }
    }
  }
  
  .logo {
    margin-left: 10px;
    color: #000;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
}