
.filters {
    max-width: 1200px;
    margin: 40px auto;
    padding-left: 20px;
}
  
::ng-deep {
    .mat-form-field-infix {
        background-color:#fff;
    }
        

    .mat-form-field-infix {
        border-color: #fff !important;
        border-top: none;
        padding-left: 5px !important;
    }
    .mat-form-field-appearance-legacy .mat-form-field-label {
        padding-left: 5px;
    }
}

.events {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: 20px auto;
}


.event {
    display: flex;
    width: 80%;
    margin: 10px;
    height: 100px;
    overflow: hidden;
    border-radius: 5px;
    background-color: #cac7c7;
    box-shadow: 4px 3px 8px 0px rgb(200 152 44 / 22%);
    transition-duration: 0.3s;
    cursor: pointer;

    &:hover {
        box-shadow: 4px 3px 11px 6px rgb(200 152 44 / 46%);
        transform: translateY(-3px);
    }
    &-left-box{
        padding: 10px;
        width: 80%;
        border-radius: 5px;
        margin: 0;
 
    }
    &-title {
        color: rgba(0, 0, 0, 0.715);
        font-weight: 700;
        font-size: 22px;
        margin-bottom: 20px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }    

    &-right-box{
        width: 20%;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        
        background-color: black;
        
    }
    
    &-date {
        color: #fff;
        font-size: 25px;
    }
}