.details{
    display: flex;
    justify-content: center;
    align-items: center;
}
.event {
    
    &-banner {
        height: 442px;
        overflow: hidden;
        &-img {
            width: 100%;
            filter: blur(5px);
        }
    }
  
    &-content {
        text-align: center;
        position: relative;
        
        border: 2px solid black;
    }
    &-link {
        width: 300px;
    }
    &-header {
        &-title {
            font-size: 20px;
            color: #000;
            font-weight: 700;
            line-height: 70px;
            white-space: nowrap;
        }
  
        &-release-date {
            color: #fff;
            font-weight: 700;
        }

    }
}
