<div class="details">
    <div class="event-content">
        
        <div class="event-header">
            <div class="event-header-left">

                <h1 class="event-title" *ngIf = event>{{event.title}}</h1>

                <form [formGroup]="form" class="event-rating" >
                    <div class="stars" *ngIf = event>
                        <ngx-star-rating formControlName="rating" [disabled] ="true"></ngx-star-rating>
                    </div>
                </form>
                <div class="event-date" *ngIf = event>
                    <mat-icon>date_range</mat-icon>
                    {{event.datetime_utc | date}}
                </div>
                <div class="event-location">
                    <mat-icon> location_on</mat-icon>
                    <a *ngIf = event href="{{event.venue.url}}">
                        {{event.venue.name}} - {{event.venue.address}}, {{event.venue.display_location}}
                    </a>

                </div>

            </div>
            <a *ngIf = event href="{{ event.url }}" class = "event-header-right">
                <button mat-raised-button color="warn" class = "event-link" > 
                    Book Now!
                </button>
            </a>
        </div>
        <div class="event-tickets" >

            <h2>Ticket Details</h2>
            <div class="event-content-ticket-details" *ngIf = event >
                
                Average Price: {{ event.stats.average_price }} $<br>
                Lowest Price: {{ event.stats.lowest_price }} $<br>
                Highest Price: {{ event.stats.highest_price }} $<br>

            </div>
        </div>

        <div class="event-content-performers" >

            <h2>Performers</h2>
            <div *ngIf = event >

                <div class="event-singlePerformer" *ngFor="let performer of event.performers; let last = last">
                    <img class="event-singlePerformer-img"  src = "{{performer.image}}" >
                    <div class="event-singlePerformer-detail">
                        <h3 class="event-performer-title">
                            {{ performer.name }}

                        </h3>
                        <p class="event-performer-score">Event Count: {{performer.stats.event_count}}</p>
                        
                        <a class="event-performer-otherEvents" href="{{performer.url}}">View their other events here!</a>
                    </div>
                    
                </div>

            </div>
        </div>
    </div>
</div>
