.details{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.event {
    
    &-content {
        padding: 30px;
        width: 80%;
        background-color: beige;
        border-radius: 10px;
        box-shadow: 4px 3px 11px 6px rgb(200 152 44 / 46%);

        &-header {
            height: 230px;
            display: flex;
            justify-content: space-between;
            &-left{
                
                width: 80%;
                &-title {
                    height: fit-content;
                    font-size: 40px;
                    color: #000;
                    font-weight: 700;
                                  
                }
                &-date{
                    display: flex;
                    align-items: center;
                    margin-top: 30px;
                    padding: 8px;
                    color: #000;
                }
                &-location{
                    padding:8px;
                    display: flex;
                    align-items: center;
                }
                &-form{
                    margin: 10px;
                    padding-left: 10px;
                    display: flex;
                    align-items: center;
                    height: 30px;
                }
            }
            &-link{
                width: 20%;
                margin: 10px;
                
                &-btn{
                    font-size: 25px;
                    width: 100%;
                    color: #000;
                    height: 100%;
                    background-color: #fff;
                    border-radius: 10px;
                }
            }
        }
        &-ticket{
            
            margin-bottom: 20px;
        }
    }
}

h2{
    font-size: 20px;
    margin-top: 20px;
    font-weight: 500;
}