<div class="details">
    <div class="event-content">
        
        <div class="event-content-header">
            <div class="event-content-header-left">

                <h1 class="event-content-header-left-title" *ngIf = event>{{event.title}}</h1>

                <!-- <form [formGroup]="form" class="event-content-header-left-form" >
                    <ngx-star-rating formControlName="rating"  [disabled] ="true"></ngx-star-rating>
                </form> -->
                <div class="event-content-header-left-date" *ngIf = event>
                    <mat-icon>date_range</mat-icon>
                    {{event.datetime_utc | date}}
                </div>
                <div class="event-content-header-left-location">
                    <mat-icon> location_on</mat-icon>
                    <a *ngIf = event href="{{event.venue.url}}">
                        {{event.venue.name}} - {{event.venue.address}}, {{event.venue.display_location}}
                    </a>

                </div>

            </div>
            <a *ngIf = event href="{{ event.url }}" class = "event-content-header-link">
                <button mat-raised-button color="warn" class = "event-content-header-link-btn" > 
                    Book Now!
                </button>
            </a>
        </div>

        <hr>
        <div class="event-content-ticket" >

            <h2>Ticket Details</h2>
            <div class="event-content-ticket-details" *ngIf = event >
                
                Average Price: {{ event.stats.average_price }}<br>
                Lowest Price: {{ event.stats.lowest_price }}<br>
                Highest Price: {{ event.stats.highest_price }}<br>

            </div>
        </div>

        <hr>

        <div class="event-content-performers" >

            <h2>Performers</h2>
            <div class="event-content-performers-details" *ngIf = event >
                <div *ngFor="let performer of event.performers; let last = last">
                    {{ performer.name }}
                    <img  src = "{{performer.image}}">
                    <span *ngIf="!last">, </span>
                </div>

            </div>
        </div>
    </div>
</div>
